body,html,ul, li {
  margin:0; padding:0;
}

ul, li {
  list-style:none;
}

.ticker-wrap {
  background: #eee;
  width: 80%;
  margin: 20px auto;
}

.ticker-title { 
  font-weight: 700;
  color: #1a1a1a;
}
